body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: antiquewhite;
}

.container {
    background-color: rgb(243, 201, 208);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.btn {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.btnPrimary {
    background-color: rgb(55, 19, 88);
    color: white;
    position:right


}

.btnSecondary {
    padding: 0.5rem 2rem;
    background-color: rgb(221, 125, 141);
    position: absolute; /* allows button to move */
    transition: left 0.3s ease, top 0.3s ease; /* smooth dodge */
}
